<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Shared Header -->
    <header>
        <div class="header-left">
            <img id="nurse-hat" src="{{ url_for('static', filename='hatw.png') }}" alt="">   
        </div>
        <nav>
            {% if 'username' in session %}
                <a href="{{ url_for('patientList') }}">Pacientes</a>
                <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
            {% endif %}
        </nav>
    </header>

    <!-- Page-Specific Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        
    </footer>
</body>
</html>